.navtabs {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tabs {
    display: flex;
    gap: 40px;
    align-items: stretch;
    transition: var(--transition);

    :hover, :focus {
    color: var(--hover);
    }
}

.active {
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--accent-primary);
}

.tabs > li{
    display: flex;
    gap: 5px;
    align-items: center;
}

.button {
    margin-left: auto;
}