.header {
  position: sticky;
  top: 0;
  z-index: 2;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 15px;
  flex-wrap: wrap;
  transition: var(--transition);
  gap: 15px;
  background-color: var(--bg);
}

.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.links > a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-size: 15px;
  transition:  var(--transition);
}

a:hover {
  color: var(--hover);
}

.logo {
  font-weight: 800;
  text-transform: uppercase;
  color: var(--accent-second);
  font-size: 18px;
}

.active {
  padding-bottom: 5px;
  border-bottom: 1px dashed var(--accent-primary);
}

@media (max-width: 768px) {
  .links {
    gap: 7px;
  }
}