.loading, .notFound {
    width: 270px;
    margin: 0 auto;
    padding-top: 40vh;
    padding-bottom: 40vh;

    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: .06em;
    text-transform: uppercase;
}

@media screen and (min-width: 780px) {
    .loading {
        width: 580px;
    }
    .notFound {
        width: 580px;
    }
}

