.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 5vw;
}

.footer >p {
  color: rgb(199, 199, 199);
}

.right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.links > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  transition: all 0.2s ease;
}

a:hover {
  color: #33c9dc;
}
