.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 5vw;
}

.footer > p {
  color: var(--grey);
}

.right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.links > a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-size: 15px;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--hover);
}
